p {
    text-align: center;
}

.about__formation {
    margin-top: 4rem;
    text-align: center;
}

.formation {
    margin: 1rem;
    background: var(--color-bg-variant);
    color: var(--color-white);
    border-radius: 15px;
    padding: 10px;
}

.about__formation h4 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-primary);
}


/* MEDIA */

@media screen and (max-width:1024px) {
    p {
        padding: 1rem;
    }
}