header {
    height: 150vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.to {
    display: flex;
}


/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}


/* SOCIALS */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* MOI */

.moi {
    background: linear-gradient( var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0;
}


/* MEDIA  */

@media screen and (max-width:1024px) {
    .header__socials {
        display: none;
    }
}

@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }
}