nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 3rem 1.7rem;
    z-index: 2;
    position: fixed;
    right: -2rem;
    transform: translateX(-50%);
    top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    color: var(--color-light);
    font-size: 1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}


/* MEDIA  */

@media screen and (max-width:1024px) {
    nav {
        left: 50%;
        top: 1rem;
        flex-direction: row;
        padding: 1rem 4rem;
    }
}